table {
    width: 100%;
    background-color: white;
    color: black;
    border-collapse: collapse;
    font-size: 13px;
    font-weight: 100;
}

table th{
    color: grey;
    font-size: 13px;
    background-color: #fafaf9;
    border-right: 4px solid #fafaf9;
    
}

table th:hover{
    background-color: #ffffff;
    border-right: 4px solid lightgrey;
}

table th, table td{
    padding: 7px 10px;
}

table td{
    padding: 5px 10px;
}

table tr{
    border-bottom: 1px solid #dddbda;
}

table tr:hover{
    background-color: #f3f2f2;
}

.checkboxCol {
    width: 35px;
    min-width: 35px;
    max-width: 35px;
}
