/* @font-face {
    font-family: 'customSalesforceFont';
    src: url(/resource/SalesforceSans-Book); 
 } */


table {
    width: 100%;
    /* font-family: 'customSalesforceFont'; */
    background-color: white;
    border-collapse: collapse;
    font-size: 12px;
    font-weight: 100;
}

table th{
    color: grey;
    font-size: 14px;
    background-color: #fafaf9;
}

table th, table td{
    padding: 5px 10px;
}

table tr{
    border-bottom: 1px solid #dddbda;
}

.checkboxCol {
    width: 35px;
    min-width: 35px;
    max-width: 35px;
}
