.dayWrapper{
    height: 125px;
}

.daySquare{
    border: 1px solid #dddbda;
    height: 100%;
    color: #777675;
}

.disabled{
    background-color: #e6e6e6;
}

.highlightDate{
    border: 1px solid #0c77d4;
}

.currentDay{
    padding: 0px 5px;
}

.monthlyEvent{
    border: 1px solid #dcedf9;
    background-color: #ebf7ff;
    color: #7597b4;
    margin-top: 2px;
    padding: 0px 6px;
    font-size: 10.5px;
}

.daySquare.disabled .monthlyEvent{
    border: 1px solid #c5c3c3 !important;
    background-color: #d4d4d4 !important;
}