.calendarWrapper{
    width: 100%;
    max-width: 2000px;
    border: 1px solid #dddbda;
    border-radius: 6px;
    background-color: white;
    padding: 20px;
}

.calendarHeader{
    padding-bottom: 20px;
}

.eventIcon{
    padding-right:10px;
    float: left;
}

.dateString{
    padding-top: 4px;
}